body {
    color: rgb(249, 249, 249);
    font-family:'Times New Roman', Times, sans-serif;
    font-size: 30px;
    line-height: 1.35em;
    background-color:whitesmoke;
    background-image: url(./Img/Nye\ \(1\ of\ 1\).jpg);
    background-size: 125%;
    padding: 20px;


}

.pageWrapper{
 border:10px dashed rgb(0, 14, 52);
 padding: 30px;

}

article {
    border:2px solid rgb(16, 3, 46);
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(28, 4, 72);

}

#p5Wrapper {
    position: fixed;
    inset: 0;
    pointer-events: none;

}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

}

.gridWrapper > div {
  border:1px rgb(254, 254, 254);

}

.gridWrapper > div > img {
  /* border: 10xp solid red; */
  object-fit:contain;
  max-width: 100%;
  max-height: 100%;

}

.toTopWrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #262222;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #10065f;
    color: white;
  }